.product-cards {
    display: flex;
    flex-wrap: wrap;

    .card-icon {
        margin-right: 4px;
    }

    .ant-card {
        margin-top: 32px;
        height: 400px;
        width: 300px;
        margin-left: 48px;
    }

    .product-card {
        img {
            height: 300px;
        }
    }

    .product-price {
        font-size: 16px;
        font-weight: bold;
    }

    .spin-loading {}
}